@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.header{
    height: 80px;
    width: 100%;
    padding: 0px 50px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 12, 12, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 100px;
}
.header img{
    height: 100%;
}
.navbar-link{
    text-decoration: none;
    color: rgb(12, 224, 48);
    font-weight: 600;
}

