@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.body{
    background: url(./IMAGENES/ruthie-a6mfMjCFkII-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
}

/*header*/

.header{
    height: 80px;
    width: 100%;
    padding: 0px 50px;
    background-color: rgba(109, 105, 105, 0.685);
    box-shadow: rgba(1, 0, 5, 0.788) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 100px;
}
.header img{
    height: 120%;
}
.navbar-link{
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: 990;
    font-size: 20px;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#hero{
    display: flex;
    padding: 70px 0px;
    width: 90%;
    justify-content: space-around;
}
.hero-presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.hero-presentacion h1{
    font-weight: 800;
    font-size: 50px;
}
.hero-presentacion p{
    font-weight: 600;
    font-size: 40px;
    max-width: 350px;
    color: rgb(0, 0, 0);
}
.boton{
    display: flex;
    gap: 15px;
}
.boton a{
    text-decoration: none;
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: 600;
}
.boton-1{
    background-color: black;
    color: white;
}
.boton-2{
    background-color: white;
    color: black;
}
.hero-img{
    width: 380px;
    border-radius: 50px;
    box-shadow: rgb(1, 0, 5) 0px 8px 24px;
}

.about{
display: flex;
align-items: center;
justify-content: center;
width: 80%;
max-width: 850px;
padding: 30px 0px;
font-weight: 990;
font-size: 30px;
text-align: center;
}